@import 'variablesFooter';

.footer {
    background-color: $color_back_primary_footer;
    display: grid;
    grid-template-columns: 200px auto;
    position: fixed;
    bottom: 0;
    width: 100vw;
}

.footer-img {
    max-width: 100%;
}

.footer-text {
    border-left: 1px solid rgb(128, 128, 128);
    padding-left: 1em;
}