$color_back_primary_gen: #333;
$color_font_primary_titles: #80775c;

$color_back_primary_menu: #a7a5a556;
$color_font_primary_menu: #2b2a27;
$color_font_menu_hover: #cab880;

$color_back_primary_footer: #a7a5a556;
$color_font_primary_footer: #2b2a27;