@import 'variablesMenu';

@mixin theme($property, $color) {
    #{$property}: $color;
}

.mainMenu {
    padding: 2em 0;
    display: flex;
    justify-content: center;
    border-radius: 3em;
}

.mainMenuDark {
    @include theme(background-color, $color_back_dark_menu);
}

.mainMenuRed {
    @include theme(background-color, $color_back_red_menu);
}

.mainMenu-list {
    list-style-type: none;
}

.mainMenu-list-item {
    display: inline;
    padding: 0 2.5em;
}

.mainMenu-list-item__link {
    text-decoration: none;
    font-weight: bold;
    font-size: 2em;
}

.mainMenu-itemDark__link {
    @include theme(color, $color_font_dark_menu);

    &:hover {
        @include theme(color, $color_font_dark_hover);
        transition: 500ms;
    }
}

.mainMenu-itemRed__link {
    @include theme(color, $color_font_red_menu);

    &:hover {
        @include theme(color, $color_font_red_hover);
        transition: 500ms;
    }
}