$color_back_btn_adm: #1f287e;
$color_back_btn_adm_hov: #122912;

$color_text_btn_adm: #a1a3b6;
$color_text_btn_ser: #bee3e7;

$typeFont_text_btn: italic;
$fontFamily_text_btn: 'Franklin Gothic Medium';
$fontSize_text_btn: 2em;