// **** Menu Principal **** //
@use 'mainMenu';

// **** Footer **** //
@use 'footer';

// **** Variables generales **** //
@import 'variablesGeneral';


// **** Reseteo estilos navegadores **** //
* {
    margin: 0;
    padding: 0;
}

a {
    color: #344985;
}

// **** Cuerpo de todas las paginas **** //
body {
    background-color: $color_back_primary_gen;
}