// **** Menu Principal **** //
@use 'mainMenu';

// **** Footer **** //
@use 'footer';

// **** Variables generales **** //
@import 'variablesGeneral';


@mixin theme($property, $color) {
    #{$property}: $color;
}

// **** Reseteo estilos navegadores **** //
* {
    margin: 0;
    padding: 0;
}

a {
    color: #344985;
}

// **** Cuerpo de todas las paginas **** //
.bodyDark {
    @include theme(background-color, $color_back_dark_gen);
}

.bodyRed {
    @include theme(background-color, $color_back_red_gen);
}